.paging {
    height: 50px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 6px;
    gap: 8px;
}

.button {
    height: 32px;
    width: 32px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.leftButton {
    background: url('../../images/next-page-icon.svg') center no-repeat;
    transform: scaleX(-1);
}

.rightButton {
    background: url('../../images/next-page-icon.svg') center no-repeat;
}

.leftButtonDisabled {
    background: url('../../images/next-page-disabled.svg') center no-repeat;
    transform: scaleX(-1);
    cursor: default;
}

.rightButtonDisabled {
    background: url('../../images/next-page-disabled.svg') center no-repeat;
    cursor: default;
}

.currentPageContainer {
    display: flex;
    gap: 8px;
}

.dot {
    margin-left: 6px;
    margin-right: 6px;
}

.activePage {
    border: 1px solid rgb(24, 144, 255);
    color: rgb(24, 144, 255);
}

.hidden {
    display: none;
}